.mm-menu {
  width: 100%;
  background-color: #020202;

  &.mm-offcanvas {
    z-index: 9;
  }
}

html {
  &.mm-right {
    &.mm-opening { 
      .mm-slideout {
        transform: translate3d(-100%,0,0);
      }
    }
  }

  &.mm-opening.financity-mmenu-right .financity-mobile-header {
    transform: translate3d(-100%,0,0);
  }
}

.mm-navbar .mm-title, .mm-navbar .mm-btn, ul.mm-listview li > a, ul.mm-listview li > span {
  color: $white;
}

ul.mm-listview li {
  border: none;
}

.financity-header-background, .financity-sticky-menu-placeholder, .financity-header-style-boxed.financity-fixed-navigation {
  background-color: #020202;
}

ul.mm-listview li {
  text-align: center;
}

.mm-arrow:after, .mm-next:after {
    border-width: 2px;
    width: 13px;
    height: 13px;
}

.mm-arrow:after, .mm-next:after, .mm-prev:before {
  border-color: #ffffff;
}

#header {
  position: relative;
  background: $gray;
  padding: 20px 0;
  z-index: 2;
}

.header-holder {
  display: flex;
}

.logo {
  width: 100px;
  min-width: 100px;
  margin-right: 20px;
}

#nav {
  @extend %clearfix;

  position: relative;
  flex-grow: 1;
}

.nav-drop {
  @include animate(all);

  background: $mobile-nav-drop-bg;
  color: $mobile-nav-drop-color;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  @include media('另ablet') {
    position: static;
    opacity: 1;
    visibility: visible;
    color: $nav-color;
    background: none;
  }

  .nav-active & {
    opacity: 1;
    visibility: visible;
  }

  ul {
    @extend %listreset;
  }

  > ul {
    @include media('另ablet') {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  li {
    position: relative;
    list-style: none;

    + li {
      padding-left: 20px;
    }

    &.active {
      a {
        opacity: 0.5;
      }
    }

    &:hover {
      >a {
        opacity: 0.5;
      }

      > ul {
        display: block;
      }
    }

    > ul {
      display: none;
      width: 100%;
      top: 100%;
      left: 0;
      z-index: 2;

      @include media('另ablet') {
        position: absolute;
      }
    }
  }

  a {
    color: inherit;
  }
}

.nav-opener {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  float: right;

  @include media('另ablet') {
    display: none;
  }

  &:before,
  &:after,
  span {
    @include animate(transform);
    background: $black;
    position: absolute;
    top: 16px;
    left: 15%;
    right: 15%;
    height: 3px;
    margin-top: -2px;
  }

  &:before,
  &:after {
    content: '';
    top: 10px;
  }

  &:after {
    top: 22px;
  }

  &:hover {
    opacity: 0.9;
  }

  .nav-active & {
    span {
      opacity: 0;
    }

    &:after,
    &:before {
      transform: rotate(45deg);
      top: 16px;
      left: 15%;
      right: 15%;
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.resize-active .nav-drop,
.resize-active .nav-drop > ul {
  transition:none !important;
}


.financity-header-background-transparent {
  z-index: 2 !important;
}