.block-blockquote {

	@include media('≥phone') {
		padding: 88px 0;
	}

	blockquote {
		display: flex;
		flex-direction: column-reverse;
		margin-left: -15px;
		margin-right: -15px;
		background: #E8E8E8;
		border: 0;
		padding: 0;
		margin-bottom: 0;
		font-style: normal;

		@include media('≥phone') {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			margin-left: auto;
			margin-right: auto;
		}

		.text-side {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			padding: 32px 45px 40px 45px;
			color: #191919;

			@include media('≥phone') {
				padding: 20px 10px 20px 28px;
			}

			@include media('≥desktop') {
				padding: 20px 84px 20px 52px;
			}

			.content {
				font-family: $font-montserrat;
				font-size: 16px;
				font-weight: 700;
				line-height: 1.4;
				max-width: 535px;
				margin-bottom: 16px;

				@include media('≥desktop') {
					font-size: 24px;
				}

				p {
					margin-bottom: 0;
				}
			}

			footer {
				margin-left: auto;
				font-size: 14px;
				line-height: 1.5;
				font-family: $font-roboto;
				max-width: 347px;
				text-align: right;

				@include media('≥desktop') {
					font-size: 16px;
				}

				p {
					margin-bottom: 8px;
					margin-top: 0;
				}
			}

			cite {
				font-family: $font-rubik;
				display: block;
				color: #63708A;
				font-size: 12px;
				margin: 0;
				font-style: normal;

				@include media('≥desktop') {
					font-size: 16px;					
				}

				&:before {
					display: none;
				}
			}
		}

		.img-side {
			max-width: 100%;
			flex: 0 0 100%;

			@include media('≥phone') {
				max-width: 200px;
				flex: 0 0 200px;
			}

			@include media('≥desktop') {
				max-width: 365px;
				flex: 0 0 365px;
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}