.section-why-us {
	font-family: $font-rubik;
	padding-bottom: 32px;
	padding-top: 64px;

	@include media('≥phone') {
		padding-top: 0;
		padding-bottom: 47px;
	}

	h3.title {
		font-size: 18px;
		margin-bottom: 40px;
	}

	.text {
		font-size: 14px;
		line-height: 1.75;

		@include media('≥phone') {
			font-size: 16px;
		}
	}
}